[Unit]
Description=westddns-py
After=network.target

[Service]
WorkingDirectory=/opt/westddns-py
ExecStart=/bin/python3 westddns.py
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
